* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: darkgray;
  text-align: center;
  font-size: 50px;
  margin: 50px 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.images {
  width: 900px;
  min-height: 600px;
  background: url("imgs/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 8px solid darkgray;
  border-radius: 5px;
}

button {
  background-color: darkgray;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}

button:active {
  background-color: white;
}
