* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 50px;
}

.shopping-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  font-size: 25px;
}

.tag {
    color: rgb(46, 46, 46);
}

.qty-container {
  background-color: lightgray;
  width: 400px;
  min-height: 300px;
  border-radius: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.counters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-weight: bold;
}

.count {
  font-size: 50px;
}

.btn {
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10%;

  font-weight: bold;
  font-size: 35px;
}

.btn:active {
  color: lightgray;
  background-color: black;
}